{% extends 'base.html' %}
{% load static %}

{% block content %}
{% block body %}
{% endblock %}

<script>
  $(function () {
    $('[data-bs-toggle="tooltip"]').tooltip && $('[data-bs-toggle="tooltip"]').tooltip();

    $(".pass-reset").on("click", function () {
      document.location = "{% url 'password_reset' %}";
    });

    $(".toggle-password").click(function () {
      $(this).toggleClass("fa-eye fa-eye-slash");
      var input = $($(this).attr("toggle"));
      if (input.attr("type") == "password") {
        input.attr("type", "text");
      } else {
        input.attr("type", "password");
      }
    });
  });
</script>
{% endblock %}
